<div class="sidebar">
        <h2>Genres</h2>
        <ul class="genre-list">
            <li><a href="/books/?genre=All">All</a></li>
            <li><a href="/books/?genre=Fiction">Fiction</a></li>
            <li><a href="/books/?genre=Fantasy">Fantasy</a></li>
            <li><a href="/books/?genre=Science Fiction">Science Fiction</a></li>
            <li><a href="/books/?genre=Romance">Romance</a></li>
            <li><a href="/books/?genre=Thriller">Thriller</a></li>
            <li><a href="/books/?genre=Mystery">Mystery</a></li>
            <li><a href="/books/?genre=Non-Fiction">Non-Fiction</a></li>
            <li><a href="/books/?genre=Biography">Biography</a></li>
            <li><a href="/books/?genre=Self-Help">Self-Help</a></li>
            <li><a href="/books/?genre=History">History</a></li>
            <li><a href="/books/?genre=Children">Children</a></li>
            <li><a href="/books/?genre=Young Adult">Young Adult</a></li>
            <li><a href="/books/?genre=Graphic Novel">Graphic Novel</a></li>
            <li><a href="/books/?genre=Poetry">Poetry</a></li>
            <li><a href="/books/?genre=Cookbook">Cookbook</a></li>
            <li><a href="/books/?genre=Travel">Travel</a></li>
            <li><a href="/books/?genre=Health">Health</a></li>
            <li><a href="/books/?genre=Religion">Religion</a></li>
            <li><a href="/books/?genre=Philosophy">Philosophy</a></li>
            <li><a href="/books/?genre=Business">Business</a></li>
            <li><a href="/books/?genre=Technology">Technology</a></li>
            <li><a href="/books/?genre=Art">Art</a></li>
            <li><a href="/books/?genre=Music">Music</a></li>
            <li><a href="/books/?genre=Sports">Sports</a></li>
            <li><a href="/books/?genre=Comics">Comics</a></li>
            <li><a href="/books/?genre=Graphic Novel">Graphic Novel</a></li>
            <li><a href="/books/?genre=Classic">Classic</a></li>
            <li><a href="/books/?genre=Western">Western</a></li>
            <li><a href="/books/?genre=Adventure">Adventure</a></li>
            <li><a href="/books/?genre=Crime">Crime</a></li>
            <li><a href="/books/?genre=Horror">Horror</a></li>
            <li><a href="/books/?genre=Suspense">Suspense</a></li>
            <li><a href="/books/?genre=Drama">Drama</a></li>
            <li><a href="/books/?genre=Action">Action</a></li>
            <li><a href="/books/?genre=Family">Family</a></li>
            <li><a href="/books/?genre=War">War</a></li>
            <li><a href="/books/?genre=Historical Fiction">Historical Fiction</a></li>
            <li><a href="/books/?genre=Literary Fiction">Literary Fiction</a></li>
            <li><a href="/books/?genre=Contemporary Fiction">Contemporary Fiction</a></li>
            <li><a href="/books/?genre=Fantasy Fiction">Fantasy Fiction</a></li>
            <li><a href="/books/?genre=Science Fiction Fantasy">Science Fiction Fantasy</a></li>
            <li><a href="/books/?genre=Science Fiction Romance">Science Fiction Romance</a></li>
        </ul>
        
    </div>