<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/nav') %>

    <h1>Contact Me</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident magnam aliquid architecto quisquam explicabo blanditiis dolore suscipit placeat necessitatibus culpa nesciunt doloremque voluptatibus, nisi quia. Aperiam incidunt sunt quos minima.</p>
    <%- include('../partials/footer') %>
</body>
</html>