<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/nav') %>

    <h1>Homepage</h1>
    <p>Welcome to the Book Inventory application!</p>
    <p>Here you can manage your book collection.</p>
    <p>All the data on this application is randomly generated using <a href="https://www.mockaroo.com" target="_blank" rel="noopener noreferrer">Mockaroo</a>.</p>

    <%- include('../partials/footer') %>
</body>
</html>