<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/nav') %>

    <h1>Services</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia perspiciatis quisquam sequi dolore culpa nemo labore quae, reiciendis consequuntur hic cumque rem aperiam maxime earum ut atque dicta, beatae asperiores.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus. Quisquam, voluptatibus. Quisquam, voluptatibus. Quisquam, voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus. Quisquam, voluptatibus. Quisquam, voluptatibus. Quisquam, voluptatibus.</p>
   
    <%- include('../partials/footer') %>
</body>
</html>